<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h1>Register</h1>
            <form action="/users" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" id="first_name" name="user[first_name]">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" name="user[last_name]">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="user[email]">
                </div>
        
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="user[password]">
                </div>
                
                <div class="form-group">
                    <label for="pwd">Confirm PW:</label>
                    <input type="password" class="form-control" id="con_pwd" name="user[password_confirmation]">
                </div>
                <input type="submit" class="btn btn-default" value="Register">
            </form>
        
        </div>
        <div class="col-md-4">
            <h1>Login</h1>
            <form action="/sessions" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="password">
                </div>
                <input type="submit" class="btn btn-default" value="Login">        
            </form>
        
        </div>
        <div class="col-md-2"></div>
        </div>